.input-submit svg {
  color: #5e5e5e;
  font-size: 20px;
  margin-top: 2px;
}

.header h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1em;
  text-transform: lowercase;
  text-align: center;
}